<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <%- include('../partials/_head') %>

  <style>

  </style>

</head>

<body>
  <div id="container">
    <%- include('../partials/_background') %>
    <p><strong>Title: <%= FilmName %></strong></p>
    <p><strong>Release Year: <%= FilmYear %></strong></p>
    <p><strong>Genres: <%= Genres %></strong></p>
    <p><strong>Runtime: <%= FilmRuntime %></strong></p>
    <p><strong>Age Rating: <%= AgeRating %></strong></p>
    <p><strong>IMDb Rating: <%= IMDbRating %></strong></p>
    <p><strong>Rotten Tomatoes Score: <%= RTScore %></strong></p>
    <p><strong>IIAGT Rating: <%= LocalRating %></strong></p>
    <p><strong>Score for your age group: <%= AgeScore %></strong></p>

    <img src="<%= PosterSRC %>"></img>
    <%- include('../partials/_foot') %>
  </div>
</body>
