<!DOCTYPE html>
<html lang="en" dir="ltr">
<%- include('../partials/_head') %>

<body>
  <%- include('../partials/_background') %>
  <div class="content">
    <header>
      <h1 id="pagetitle">IS IT ACTUALLY GOOD?</h1>
    </header>
  </div>
  <section class="layout">

<div class="wrapper">

    <div class="one">
      <br>
      <center>
        <img src="<%= PosterSRC %>"></img>
        <h1 style="color: white;"><%= FilmName %> (<%= FilmYear %>)</h1>
        <p><strong>Genres: <%= Genres %></strong></p>
      </center>
    </div>



    <div class="two">



      <p><strong>Runtime: <%= FilmRuntime %></strong></p>

      <p><strong>Age Rating: <%= AgeRating %></strong></p>

      <% if(IMDbRating != false){ %>
        <p><strong>IMDb Rating: <%= IMDbRating %></strong></p>
      <% } else { %>
        <p><strong>Sorry! IMDb Score not found for this title.</strong></p>
      <% } %>

      <% if(RTScore != false){ %>
        <p><strong>Rotten Tomatoes Score: <%= RTScore %></strong></p>
      <% } else { %>
        <p><strong>Sorry! RT Score not found for this title.</strong></p>
      <% } %>

      <% if(FinalScore != false){ %>
        <p><strong>IIAGT Rating: <%= LocalRating %></strong></p>
      <% } else { %>
        <p><strong>Sorry! Unavailable due to missing ratings data.</strong></p>
      <% } %>

      <% if(AgeScore != false){ %>
        <p><strong>Score for your age group: <%= AgeScore %></strong></p>
      <% } else { %>
        <p><strong>Sorry! There are no IsItGood reviews for this title yet.</strong></p>
      <% } %>
    </div>
    </section>






    <%- include('../partials/_foot') %>
  </body>
